body {
  background-image: url("https://download.unsplash.com/photo-1416339134316-0e91dc9ded92");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;

}
/*home page*/
#page0 {
  height:1100px;
  width: cover;
  color: black;
  font-size: 120px;
  text-align: center;
}
#pg {
  font-size: 20px;
  color: black;
}
#pg:hover{
  font-size: 30px;
  color: brown;
}
/*about page*/
#page1 {
  height:1100px;
  width:cover;
}
#juzet {
  padding-top: 20%;
}
/*projects page*/
#page2 {
  height:1100px;
  width: cover;
}
#page3 {
  height:1100px;
  width:cover;
}
.inner {
  width: 800px;
  height: 50px;
  position: relative;
}
header {
  position: fixed;
  width: 100%;
  padding-top: 10px;
  background: #000;
  transition: 0.7s all;
  z-index: 100;
  opacity: 0.6;
}
nav li {
  display: inline-block;
  float: left;
  text-decoration: none;
}

nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 25px;
  text-align: left;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  background: red;
  text-decoration: none;
  color: white;
  font-size: 20px;
  border-radius: 25px;
}
img {
  margin-top: 13%;
  margin-left: 5%;
  border: 2px solid white;
  border-radius: 25px;
}
#modal {
  color: pink;
}