@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,800);
/*body*/
body {
	background-image: url("https://ununsplash.imgix.net/26/camera-keys.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050");
	background-repeat: no-repeat;
	background-size: cover;
}
/*a tags*/
a {
	text-decoration: none;
	font-size: 20px;
	color: white;
	margin: 50px;
}
a:hover {
	color: #A4A4A4;
}
/*div id juzet*/
#juzet {
	text-align: center;
	padding-left: 25%;
	margin-top: 15%; 
	height: 100px;
	width: cover;
}
#name {
	font-family: 'Open Sans', sans-serif;
	font-size: 150px;
	padding-right: 28%;
	color: #2A0A0A;
}
/*p class arana*/
.arana {
	font-family: 'Merriweather Sans', sans-serif;
	color: #2A0A0A;
	text-align: center;
	font-size: 30px;
	padding-top: 4%;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 
	body {
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAABaCAMAAAAIGK1gAAAAA1BMVEUAAACnej3aAAAAJUlEQVRoge3BgQAAAADDoPlTX+EAVQEAAAAAAAAAAAAAAAAAvAY4mgABRiyBfgAAAABJRU5ErkJggg==");		
		background-repeat: no-repeat;
		padding-top: 13%;
	}
	a {
		text-align: center;
		font-size: 45px;
		padding-left: 1%;
	}
	#name {
		font-size: 90px;
		width: cover;
		color: white;
	}
	#juzet {
		text-align: left;
		width: cover;
		height: 200px;
		padding-top: 8%;
	}
	.arana {
		padding-top: 10%;
		color: white;
		font-size: 50px;
	}

}